.App {
  text-align: center;
}

.pokemon__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pokemon__item {
  margin: 10px;
}

.pokemon__item--container {
  width: 150px;
  height: 200px;
  background-color: lightblue;
  border-radius: 20px;
  border:2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon__name {
  text-transform: capitalize;
}

.pokemon__types {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.type__list {
  text-transform: uppercase;
  color: white;
  background-color: grey;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
}

.type__list:first-child {
  margin-right: 5px;
}